<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><!-- TODO: Add site title here --></title>

    <!-- TODO: Add site description -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Add OG meta -->
    <!-- Reference: https://developers.facebook.com/docs/sharing/best-practices#tags -->
    <meta property="og:title" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <!-- Facebook suggests at least 1200 x 630. -->
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="assets/css/application.css">

    <!-- TODO: Add JavaScript MV frameworks (i.e. Angular, Ember) here -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- TODO: Add your site or application content here -->
    <h1>Thanks for using Forefront!</h1>
    <p>
        Forefront provides you with npm scripts to run powerful development tools.
    </p>
    <ul>
        <li><code>npm run doctor</code> tests for correctly installed dependencies.</li>
        <li><code>npm run build:styles</code> Compiles your <a href="http://sass-lang.com/">SASS</a> files and then runs <a href="http://github.com/postcss/autoprefixer">autoprefixer</a>.</li>
        <li><code>npm run build:scripts</code> Compiles your <a href="http://coffeescript.org/">Coffeescript</a> or <a href="http://babeljs.io/">EcmaScript6 files.</a></li>
        <li><code>npm run build</code> Runs <code>build:styles</code> and <code>build:scripts</code>.</li>
        <li><code>npm run watch</code> Starts watching your working files in the /src directory. Any changes to those files will automatically trigger <code>build</code></li>
        <li><code>npm run serve</code> Fires up a <a href="http://www.browsersync.io/">BrowserSync server</a>.</li>
        <li><code>npm run test</code> Runs <a href="http://jasmine.github.io/2.0/introduction.html">Jasmine</a> specs in the /spec folder.</li>
        <li><code>npm run develop</code> Runs <code>build</code> <code>watch</code> and <code>serve</code>. This is the recommended starting point for development!</li>
    </ul>

    <script src="assets/js/application.js"></script>

    <!-- TODO: Google Analytics - change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
